---
title: Treasured Accolades
---
<div class="theme__seafoam vert-spacing">
  <section class="accolades">
    <h3 class="accolades__heading">Treasured Accolades</h3>
    <p class="accolades__text">Winner of How Magazine’s 2011 International Design Awards</p>
    {{> patterns.components.accolades-illustration }}
    <img class="accolades__image" src="/images/new-york-times-logo.png">
    <img class="accolades__image" src="/images/scholastic-logo.png">
  </section>
</div>