---
title: Introduction
---
<div class="theme-ocean">
  <div class="env">
    <section class="env__story">
      <h2 class="env__heading">
        <span class="env__heading--emphasis">Deep</span> 
        Dedication to Craft
      </h2>
      <p class="env__text">We favor sustainable materials over what’s cheap and available, hand-crafted goodness over mass-produced goods, and idiosyncrasy over run-of-the-mill.</p>
    </section>
    <div class="env__landscape env__landscape--ocean">
        {{> patterns.components.deep-sea-fish }}
        {{> patterns.components.deep-sea-seaweed }}
    </div>
  </div>

  <div class="product-group">
    <section class="product">
      <img class="product__image" src="/images/totebags-edited.png">
      <h3 class="product__title">Screenprinted Totebags</h3>
      <p class="product__desc">These soft cotton totebags are a tidy marriage of form and function. Each one features a different minimalist motif — plus a subtle touch of embroidery — which ensures parents have style no matter what they carry.</p>
    </section>
    <section class="product">
      <img class="product__image" src="/images/screenprinted-posters-edited.png">
      <h3 class="product__title">Screenprinted Posters</h3>
      <p class="product__desc">Our archival-quality posters are printed one-at-a-time on 100lb French paper in the heartland at Valhalla Studios in Kansas City, Missouri. Pick one or many — our collection currently features 19+ familiar faces.</p>
    </section>
  </div>
</div>