---
title: Desert
---
<div class="theme__desert">
  <div class="env env--desert">
    <section class="env__story">
      <h2 class="env__heading">
        <span class="env__heading--emphasis">Daring</span> 
        Innovation
      </h2>
      <p class="env__story-text">We don’t think parents should have to choose been education and art. Our decor is designed to fit seamlessly into any home, while providing ample opportunities for play.</p>
    </section>
    <div class="env__landscape env__landscape--desert">
      {{> patterns.components.desert-tree }}
      {{> patterns.components.desert-lion }}
      {{> patterns.components.desert-grass }}
    </div>
  </div>

  <div class="product-group">
    <section class="product">
      <img class="product__image" src="/images/wall-decals-edited.png">
      <h3 class="product__title">Wall Decals</h3>
      <p class="product__desc">Our decals can spark a little mid-century modern art appreciation in anyone. Featuring the same Blik Re-Stik technology as our wall puzzles, each edition is made from a low-tack material that can be easily moved (and re-used) and won't damage paint.</p>
    </section>
    <section class="product">
      <img class="product__image" src="/images/wall-puzzles-edited.png">
      <h3 class="product__title">Wall Puzzles</h3>
      <p class="product__desc">Our puzzles are designed to delight preschoolers and toddlers alike. Each illustrated edition (available in Oceanic, Grassland, Polar, and Jungle) contains 36 individual pieces that can keep kids learning even if space is limited.</p>
    </section>
  </div>
</div>