---
title: Footer
---

<section class="footer theme-kraft-brown">
  <p class="footer__text footer__text--emphasis">A Modern Eden is an inspired way to promote learning, play, and art appreciation.</p>  
</section>
<p class="footer__text">© 2011 – 2018 Forge LLC</p>