---
title: Hero
---
<article class="hero">
  <div class="hero__inner">
    <img class="hero__illustration" src="/svg/zebra.svg">
    <h1 class="hero__heading">Bring <span class="hero__heading--emphasis">Adventure</span> Home With You</h1>
    <p class="hero__body">A Modern Eden is an artful line of toys and decor for stylish parents who want to inspire wonder about the world.</p>
  </div>
</article>