---
title: Introduction
---
<div class="theme-mint">
  <article class="intro">
  {{> patterns.components.intro-illustration }}
    <section class="intro__body">
      <h2 class="intro__heading">A Many Feathered<span class="intro__heading--emphasis">Menagerie</span></h2>
      <p class="intro__text">Our journey began in 2011 when illustrator Ryan Clark drew an owl in the iconic style of mid-century modern illustrator Charlie Harper for his soon-to-be son’s new nursery. Then he kept drawing — and drawing. </p>
      <p class="intro__text">Our multicultural, modern family now includes 40+ unique characters from far flung and not-so-far regions of the world.</p>
    </section>
  </article>
</div>