---
title: Polar
---
<div class="theme-polar">
  <div class="env env--polar">
    <section class="env__story env__story--polar">
      <h2 class="env__heading">
        <span class="env__heading--emphasis">Uncharted</span> 
        Paths to Play
      </h2>
      <p class="env__text">Sure a walrus is big, but how big exactly compared to mom and dad? Where does a polar bear take naps?</p>
      <p class="env__text">Our products use inspired storytelling methods to unleash imagination and spur creative inquiry into our vast, wild world.</p>
    </section>
    <div class="env__landscape env__landscape--polar">
      {{> patterns.components.polar-penguin-float }}
      <div class="polar-bear-container">{{> patterns.components.polar-bear }}</div>
      {{> patterns.components.polar-sun }}
    </div>
  </div>

  <div class="product-group">
    <section class="product product--polar">
      <img class="product__image" src="/images/flashcards-edited.png">
      <h3 class="product__title">Flashcards</h3>
      <p class="product__desc">From the African Eland Antelope to the Sea-Nettle Jellyfish, our flashcards teach kids about the habitat, size, weight, and speed of 36 different animals around the world. </p>
    </section>
    <section class="product product--polar">
      <img class="product__image" src="/images/ipad-iphone-edited.png">
      <h3 class="product__title">Ipad & Iphone Apps</h3>
      <p class="product__desc">Speak Piggy promotes early childhood education by asking smaller tots to repeat the names — and sounds — of common animals. Two by Two captivates older kids with a game of quick wits and memory.</p>
      <img class="product__image product__image--icon" src="/images/app-store-badge.png">
    </section>
  </div>
</div>