---
title: Demo
name: Demo Page
subtitle: Hello World!
layout: template
---
<div class="hero">
<h1 class="hero__heading">Bring<span class="hero__heading--emphasis">adventure</span>home with you</h1>
</div>