---
title: Demo
name: Demo Page
subtitle: Hello World!
layout: template
demoContent: This is some demo content on a page
---

<main class="thanks obj-limit-width">
  <h1 class="thanks__title">{{title}}</h1>
  <p class="thanks__subtitle">{{subtitle}}</p>
</main>

{{> patterns.demo.demo }}
