.theme-mint {
  background: $mint;
}

.theme-seafoam {
  background: $seafoam;
}
    
.theme-polar {
  background: $polar;
}
    
.theme-ocean {
  background: $deep-sea-secondary;
}

.theme-desert {
  background: $sand;
}

.theme-dusty-pink {
  background: $dusty-pink;
}

.theme-kraft-brown {
  background: $kraft-brown;
}