.env {
  position: relative; // Necessary for absolute positioning of ocean.
  display: flex; // Necessary for ordering of content + ocean
  flex-direction: column;

  @media (min-width: $section-breakpoint-xxs)  {
    display: block; // We don't need flex-based positioning at larger sizes. It'll just create problems!
    padding: 10vh 0;
  }
    
  @media (min-width: $section-breakpoint-xs) {
    padding: 12vh 0;
  }

  &--polar { // Polar scene needs additional vertical space for the ocean

    @media (min-width: $section-breakpoint-xxs) {
      padding: 10vh 0 12vh;
    }

    @media (min-width: $section-breakpoint-xs) {
      padding: 12vh 0 18vh;
    }
  }

  &--desert { // Desert needs additional space on top and bottom of the container
    overflow: hidden; // We're defining this so we can push the tree off-screen

    @media (min-width: $section-breakpoint-xs) {
      padding: 18vh 0 12vh;
    }

    &--desert { // Desert needs additional space on top and bottom of the container
      overflow: hidden; // We're defining this so we can push the tree off-screen

      @media (min-width: $section-breakpoint-xs) {
        padding: 18vh 0 12vh;
      }
    }

    &--desert { // Desert needs additional space on top and bottom of the container
      overflow: hidden; // We're defining this so we can push the tree off-screen

      @media (min-width: $section-breakpoint-xs) {
        padding: 18vh 0 12vh;
      }
    }
  }

  &__landscape {
    order: -1; // Push the illustration above the text
    height: 50vh; // At its smallest size, the environment needs a set height. 

    @media (min-width: $section-breakpoint-xxs) {
      height: auto;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      box-sizing: border-box;
    }

    &--ocean {
      //Svg-url is a function that takes svg code and returns a data URI.
      background: repeat-x bottom svg-url('<svg width="802" height="150" viewBox="0 0 802 150" xmlns="http://www.w3.org/2000/svg"><path fill="#B1DEDF" d="M0 150V0l39.977 16.352L59.696 75l37.736 31.01h12.393l37.735-39.468L170.085 75v14.094l78.852 10.151 15.768-40.597 12.957 1.122 33.226 28.216 19.15 5.078 7.32 16.916 19.713 6.765 29.288-41.725V0l19.15 6.201 17.459 43.425 29.845 14.678-14.078 28.741 30.416 14.094 10.138-.564 10.132-16.916 19.136-82.33 21.404 11.811 37.736 55.827 23.088 45.676V99.245l-6.206-37.782 6.193-18.044 105.886 21.994-22.531 64.849 15.768-6.771 6.763-30.446 39.42-27.632 35.487 42.29L802 0v150z" fill-rule="evenodd"/></svg>'),
      $deep-sea;

      @media (min-width: $section-breakpoint-md) {
        background: repeat-x bottom svg-url('<svg width="1224" height="229" viewBox="0 0 1224 229" xmlns="http://www.w3.org/2000/svg"><path fill="#B1DEDF" d="M0 229V0l61.012 24.964L91.108 114.5l57.591 47.343h18.914l57.591-60.256 34.377 12.913v21.518l120.343 15.497 24.065-61.979 19.774 1.713 50.71 43.076 29.226 7.753 11.172 25.825 30.086 10.328 44.699-63.701V0l29.225 9.467 26.646 66.295 45.549 22.409-21.485 43.877 46.419 21.518 15.473-.862 15.463-25.825L776.152 11.19l32.667 18.031 57.591 85.229 35.237 69.732v-32.667l-9.472-57.681 9.452-27.548 161.601 33.578-34.386 99.003 24.064-10.338 10.322-46.481 60.162-42.184 54.161 64.563L1224 0v229z" fill-rule="evenodd"/></svg>'),
        $deep-sea;
      }
    }

    &--polar {
      // // Note: svg-url is a function that takes inline svg code and returns an IE-friendly data URI.
      background-image: svg-url('<svg width="173" height="221" viewBox="0 0 173 221" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path fill="#E5F0F6" d="M0 158l11.894-66 8.108 38.181L35.674 38l15.139 58.91 7.575-38.729 18.381 96 9.733-44.73 10.269 44.73 19.465-63.816 15.136 63.816 10.273-31.101 8.658 24 12.968-46.899L173 158z"/><path fill="#BBD4E3" d="M0 158h173v63H0z"/></g></svg>'),
      linear-gradient(0deg, $polar 30%, $white 30%);
      background-repeat: repeat-x;
      background-position: right 65%, center;
      overflow: hidden;

      @media (min-width: $section-breakpoint-xxs) {
        // Includes a new background image for the water/icy crags. There is a sub-pixel rendering bug in Chrome and Safari that does not allow us to set the background-size property on the svg without visible gaps inbetween the tiled background images. 
        background-image: svg-url('<svg width="499" height="523" viewBox="0 0 499 523" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path fill="#E5F0F6" d="M0 343l34.306-188.65 23.387 109.133L102.899 0l43.667 168.384 21.849-110.701 53.018 274.4 28.072-127.851 29.621 127.851 56.145-182.408 43.657 182.408 29.631-88.897 24.975 68.6 37.404-134.053L499 343z"/><path fill="#BBD4E3" d="M0 343h499v180H0z"/></g></svg>'),
        linear-gradient(0deg, $polar 30%, $white 30%);
      }
    }
      
    &--desert {
      // We'll define two different layered backgrounds here for the desert.
      // These backgrounds are layered from bottom to top, in this order:
      // Svg-based "hills", positioned 60% from the top of the desert
      // A linear gradient background color with zero color stops (eg, no transition). The gradient is 40% sky and 60% desert.
      // The svgs are passed to a "svg-url" function, which returns an IE-compatible data URI
      background: 0% 60% repeat-x svg-url('<svg width="484" height="56" viewBox="0 0 484 56" xmlns="http://www.w3.org/2000/svg"><path fill="#DFDCAC" d="M484 56H0V2.844l40.577 19.403 61.464-8.129L180.046 0l104.709 22.247L484 2.844" fill-rule="evenodd"/></svg>'), 
      linear-gradient(0deg, $sand 40%, #E5F0F6 40%); // Make the sky vertically take up 40% of the environment
    }
  }

  &__story {
    align-self: center; // Center the text block at mobile sizes, when flexbox is active
    background: $white;
    width: 85%;
    padding: 1.125rem 2.25rem; 
    box-sizing: border-box;
    position: relative; // Necessary only for z-index positioning
    z-index: $z-index-1;

    @media (min-width: $section-breakpoint-xxs) {
      width: 60%;
      padding: 2rem;
    }

    @media (min-width: $section-breakpoint-xs) {
      max-width: 32rem;
      padding: 2.5rem 2.75rem;
    }

    @media (min-width: $section-breakpoint-lg) {
      padding: 3rem;
    }

    &--polar {
      background: $muted-sky;
    }
  }

  &__heading {
    font-family: $heading;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    text-align: center;

    @media (min-width: $section-breakpoint-xxs) {
      text-align: left;
    }

    @media (min-width: $section-breakpoint-xs) {
      font-size: 3.8vw; // 24px / 624x = .038461538 Move the decimal point for vw measurement.
    }

    @media (min-width: $section-breakpoint-sm) {
      text-align: left; // Align text left once floated to the right of the image
    }

    @media (min-width: $section-breakpoint-xl) {
      font-size: 3.25rem; // Set a max font-size
    }

    &--emphasis {
      font-size: 2.25rem;
      font-family: $heading-emphasis;
      display: block;

      @media (min-width: $section-breakpoint-xxs) {
        font-size: 6.7vw; // 24px / 480px = .066666667
      }

      @media (min-width: $section-breakpoint-sm) {
        font-size: 5.9vw; // 42px / 704px = .059659091. Move the decimal point for the viewport width.
      }

      @media (min-width: $section-breakpoint-lg) {
        font-size: 4.37rem; // Set a max font size
      }
    }
  }

  &__text {
    font-size: 1rem;
    line-height: 1.5;
    margin: 1rem 0 0;

    @media (min-width: $section-breakpoint-xs) {
      font-size: 1.125rem;
    }

    @media (min-width: $section-breakpoint-sm) {
      font-size: 1.3125rem;
    }
  }
}