// These are variables used in the illustrated content sections

$section-breakpoint-xxs: 30rem;
$section-breakpoint-xs: 39rem;
$section-breakpoint-sm: 44rem;
$section-breakpoint-md: 60rem;
$section-breakpoint-lg: 80rem;
$section-breakpoint-xl: 90rem;
$section-breakpoint-xxl: 95rem;