$olive: #627E38;
$mint: #C6E5CC;
$white: #FFFFFF;
$deep-purple: #483A56;
$muted-sky: #E5F0F6;
$polar: #B5D5E5;
$sand: #F5F2DE;
$deep-sea: #CBECED;
$deep-sea-secondary: #B1DEDF;
$seafoam: #B3DCBA;
$dusty-pink: #FCDDCE;
$kraft-brown: #DBC5A2;